In [4]:
import pandas as pd

In [6]:
MasterData = pd.read_csv('MasterDataSet_updated.csv')

ParserError: Error tokenizing data. C error: Calling read(nbytes) on source failed. Try engine='python'.

In [ ]:
MasterData.head()

In [4]:
#drop extra rate column
MasterData.drop(['Rate in USD_y'], inplace=True, axis=1)
MasterData.head()

,Unnamed: 0,Unnamed: 0.1,id,funded_amount,loan_amount,country_code,Country,currency,partner_id,lender_count,fundedtime,borrowergenders,ISO3,CPI score 2017,CPI score 2014,Rate in USD_x,Continent_Name,Loan Theme Type
0,0,1,653053,575.0,575.0,PK,Pakistan,PKR,247.0,14,2014-01-02 09:17:23,female,PAK,32,29.0,139.65,Asia,Underserved
1,1,3,653063,200.0,200.0,PK,Pakistan,PKR,247.0,8,2014-01-01 13:00:00,female,PAK,32,29.0,139.65,Asia,Underserved
2,2,4,653084,400.0,400.0,PK,Pakistan,PKR,245.0,16,2014-01-01 19:18:51,female,PAK,32,29.0,139.65,Asia,General
3,3,7,653078,400.0,400.0,PK,Pakistan,PKR,245.0,8,2014-01-10 18:18:44,female,PAK,32,29.0,139.65,Asia,General
4,4,8,653082,475.0,475.0,PK,Pakistan,PKR,245.0,19,2014-01-01 18:47:21,female,PAK,32,29.0,139.65,Asia,General

In [10]:
#add column to convert loan amount to USD
MasterData["Loan amount in USD"]=MasterData['loan_amount']/MasterData['Rate in USD_x']
MasterData.head()

,Unnamed: 0,Unnamed: 0.1,id,funded_amount,loan_amount,country_code,Country,currency,partner_id,lender_count,fundedtime,borrowergenders,ISO3,CPI score 2017,CPI score 2014,Rate in USD_x,Continent_Name,Loan Theme Type,Loan amount in USD
0,0,1,653053,575.0,575.0,PK,Pakistan,PKR,247.0,14,2014-01-02 09:17:23,female,PAK,32,29.0,139.65,Asia,Underserved,4.117436
1,1,3,653063,200.0,200.0,PK,Pakistan,PKR,247.0,8,2014-01-01 13:00:00,female,PAK,32,29.0,139.65,Asia,Underserved,1.432152
2,2,4,653084,400.0,400.0,PK,Pakistan,PKR,245.0,16,2014-01-01 19:18:51,female,PAK,32,29.0,139.65,Asia,General,2.864304
3,3,7,653078,400.0,400.0,PK,Pakistan,PKR,245.0,8,2014-01-10 18:18:44,female,PAK,32,29.0,139.65,Asia,General,2.864304
4,4,8,653082,475.0,475.0,PK,Pakistan,PKR,245.0,19,2014-01-01 18:47:21,female,PAK,32,29.0,139.65,Asia,General,3.401361

In [11]:
MasterData.to_csv('FinalDataSet.csv')