In [973]:
# Dependencies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
import json
from pprint import pprint
import gmaps
from config import g_key

url = "https://api.worldbank.org/v2/country/all/indicator/IC.BUS.EASE.DFRN.XQ.DB1719?per_page=400&date=2015:2018&format=json"

In [974]:
response = requests.get(url)
raw_data = response.json()
countries = raw_data[1][0]['country']['value']
print(countries)

Beijing

In [975]:
len(raw_data[1])

400

In [976]:
# Report the names
countries = []
doingbusiness_score =[]
countrycode = []


for i in range(len(raw_data[1])):
    countries.append(raw_data[1][i]['country']['value'])
    doingbusiness_score.append(raw_data[1][i]['value'])
    countrycode.append(raw_data[1][i]['country']['id'])

In [977]:
len(raw_data)

2

In [978]:
df = pd.DataFrame(raw_data[1])

In [979]:
df.columns

Index(['country', 'countryiso3code', 'date', 'decimal', 'indicator',
       'obs_status', 'unit', 'value'],
      dtype='object')

In [980]:
df.head()

,country,countryiso3code,date,decimal,indicator,obs_status,unit,value
0,"{'id': 'CN-BJ', 'value': 'Beijing'}",,2018,1,"{'id': 'IC.BUS.EASE.DFRN.XQ.DB1719', 'value': ...",,,64.99
1,"{'id': 'CN-BJ', 'value': 'Beijing'}",,2017,1,"{'id': 'IC.BUS.EASE.DFRN.XQ.DB1719', 'value': ...",,,64.53
2,"{'id': 'CN-BJ', 'value': 'Beijing'}",,2016,1,"{'id': 'IC.BUS.EASE.DFRN.XQ.DB1719', 'value': ...",,,62.87
3,"{'id': 'CN-BJ', 'value': 'Beijing'}",,2015,1,"{'id': 'IC.BUS.EASE.DFRN.XQ.DB1719', 'value': ...",,,NaN
4,"{'id': 'BD-CG', 'value': 'Chittagong'}",,2018,1,"{'id': 'IC.BUS.EASE.DFRN.XQ.DB1719', 'value': ...",,,41.77

In [981]:
df1 = pd.DataFrame({'Cities/Countries':countries,'CountryCode':countrycode,'AvgScore':doingbusiness_score})

In [982]:
df1.head()

  Cities/Countries CountryCode  AvgScore
0          Beijing       CN-BJ     64.99
1          Beijing       CN-BJ     64.53
2          Beijing       CN-BJ     62.87
3          Beijing       CN-BJ       NaN
4       Chittagong       BD-CG     41.77

In [983]:
df2 = df1.groupby('Cities/Countries')['AvgScore'].mean()

In [984]:
df2.head(25)

Cities/Countries
Afghanistan               38.443333
Albania                   65.560000
Algeria                   46.983333
Angola                    40.743333
Antigua and Barbuda       58.906667
Argentina                 57.656667
Armenia                   72.233333
Australia                 80.193333
Austria                   78.626667
Azerbaijan                69.093333
Bahamas, The              57.070000
Bahrain                   67.330000
Bangladesh                40.663333
Barbados                  56.810000
Beijing                   64.130000
Belarus                   73.150000
Belgium                   71.866667
Belize                    57.090000
Benin                     49.713333
Bhutan                    65.340000
Bolivia                   49.953333
Bosnia and Herzegovina    63.003333
Botswana                  64.840000
Brazil                    56.820000
Brunei Darussalam         64.523333
Name: AvgScore, dtype: float64

In [985]:
df3 = pd.DataFrame(df2)

In [986]:
df3.head()

                      AvgScore
Cities/Countries
Afghanistan          38.443333
Albania              65.560000
Algeria              46.983333
Angola               40.743333
Antigua and Barbuda  58.906667

In [987]:
df4 = df3.sort_values(by='AvgScore', ascending=True)

In [988]:
df5 = df4.drop(df4[df4.AvgScore > 50.74].index)

In [989]:
len(df)
df5.head(30)

                           AvgScore
Cities/Countries
Eritrea                   22.646667
Central African Republic  33.730000
Congo, Dem. Rep.          36.050000
Chad                      38.193333
Haiti                     38.383333
Afghanistan               38.443333
Congo, Rep.               39.960000
Dhaka                     40.410000
Bangladesh                40.663333
Angola                    40.743333
Equatorial Guinea         40.993333
Chittagong                41.543333
Guinea-Bissau             41.713333
Cameroon                  44.926667
Gabon                     45.270000
Burundi                   46.600000
Ethiopia                  46.663333
Algeria                   46.983333
Lagos                     48.010000
Comoros                   48.160000
Guinea                    48.710000
Djibouti                  49.586667
Benin                     49.713333
Bolivia                   49.953333
Karachi                   50.736667

In [990]:
df6 = df5.drop(df5[df5.AvgScore > 40.75].index)
len(df6)

Place = ['Eritrea','Central African Republic','Democratic Republic of the Congo','Chad','Haiti','Afghanistan','Congo, Rep.','Dhaka','Bangladesh','Angola']
df6.head(20)
df6.assign(Countries=Place)

                           AvgScore                         Countries
Cities/Countries
Eritrea                   22.646667                           Eritrea
Central African Republic  33.730000          Central African Republic
Congo, Dem. Rep.          36.050000  Democratic Republic of the Congo
Chad                      38.193333                              Chad
Haiti                     38.383333                             Haiti
Afghanistan               38.443333                       Afghanistan
Congo, Rep.               39.960000                       Congo, Rep.
Dhaka                     40.410000                             Dhaka
Bangladesh                40.663333                        Bangladesh
Angola                    40.743333                            Angola

In [991]:
Maplist = df6.index.tolist()

In [992]:
lat = []
lng = []

In [993]:
target_places = []

busscore = []
for x in Maplist:
    target_places.append(x)

    
target_url1 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[1], g_key)

In [994]:
geo_data = requests.get(target_url1).json()


print(geo_data)

{'results': [{'address_components': [{'long_name': 'Central African Republic', 'short_name': 'CF', 'types': ['country', 'political']}], 'formatted_address': 'Central African Republic', 'geometry': {'bounds': {'northeast': {'lat': 11.0179569, 'lng': 27.4583049}, 'southwest': {'lat': 2.2230529, 'lng': 14.4150981}}, 'location': {'lat': 6.611110999999999, 'lng': 20.939444}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 11.0179569, 'lng': 27.4583049}, 'southwest': {'lat': 2.2230529, 'lng': 14.4150981}}}, 'place_id': 'ChIJt6KGjVPpuBARJIBcWgLGm7g', 'types': ['country', 'political']}], 'status': 'OK'}

In [995]:
 # Print the json (pretty printed)
print(json.dumps(geo_data, indent=4, sort_keys=True))

{
    "results": [
        {
            "address_components": [
                {
                    "long_name": "Central African Republic",
                    "short_name": "CF",
                    "types": [
                        "country",
                        "political"
                    ]
                }
            ],
            "formatted_address": "Central African Republic",
            "geometry": {
                "bounds": {
                    "northeast": {
                        "lat": 11.0179569,
                        "lng": 27.4583049
                    },
                    "southwest": {
                        "lat": 2.2230529,
                        "lng": 14.4150981
                    }
                },
                "location": {
                    "lat": 6.611110999999999,
                    "lng": 20.939444
                },
                "location_type": "APPROXIMATE",
                "viewport": {
                    "northeast": {
                        "lat": 11.0179569,
                        "lng": 27.4583049
                    },
                    "southwest": {
                        "lat": 2.2230529,
                        "lng": 14.4150981
                    }
                }
            },
            "place_id": "ChIJt6KGjVPpuBARJIBcWgLGm7g",
            "types": [
                "country",
                "political"
            ]
        }
    ],
    "status": "OK"
}

In [996]:
 # Extract latitude and longitude
    
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

# Print the latitude and longitude
print('''
    City: {0}
    Latitude: {1}
    Longitude: {2}
    '''.format(target_places, lat2, lng2))

   City: ['Eritrea', 'Central African Republic', 'Congo, Dem. Rep.', 'Chad', 'Haiti', 'Afghanistan', 'Congo, Rep.', 'Dhaka', 'Bangladesh', 'Angola']
   Latitude: 23.810332
   Longitude: 90.4125181

In [997]:
lat = []
lng = []
name = []

latlong_dict

{'lat': 6.611110999999999, 'lng': 20.939444}

In [998]:
target_places

['Eritrea',
 'Central African Republic',
 'Congo, Dem. Rep.',
 'Chad',
 'Haiti',
 'Afghanistan',
 'Congo, Rep.',
 'Dhaka',
 'Bangladesh',
 'Angola']

In [999]:
target_places = []

busscore = []
for x in Maplist:
    target_places.append(x)
    


target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(Maplist, g_key)

In [1000]:
geo_data = requests.get(target_url).json()

# Print the json
print(geo_data)

{'results': [{'address_components': [{'long_name': 'Dhaka', 'short_name': 'Dhaka', 'types': ['locality', 'political']}, {'long_name': 'Dhaka District', 'short_name': 'Dhaka District', 'types': ['administrative_area_level_2', 'political']}, {'long_name': 'Dhaka Division', 'short_name': 'Dhaka Division', 'types': ['administrative_area_level_1', 'political']}, {'long_name': 'Bangladesh', 'short_name': 'BD', 'types': ['country', 'political']}], 'formatted_address': 'Dhaka, Bangladesh', 'geometry': {'bounds': {'northeast': {'lat': 23.9000025, 'lng': 90.5091047}, 'southwest': {'lat': 23.6612704, 'lng': 90.3295468}}, 'location': {'lat': 23.810332, 'lng': 90.4125181}, 'location_type': 'APPROXIMATE', 'viewport': {'northeast': {'lat': 23.9000025, 'lng': 90.5091047}, 'southwest': {'lat': 23.6612704, 'lng': 90.3295468}}}, 'partial_match': True, 'place_id': 'ChIJgWsCh7C4VTcRwgRZ3btjpY8', 'types': ['locality', 'political']}], 'status': 'OK'}

In [1001]:
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
lat2 = latlong_dict["lat"]
lng2 = latlong_dict["lng"]

lat2

23.810332

In [1002]:
pd.DataFrame(geo_data)

                                             results status
0  {'address_components': [{'long_name': 'Dhaka',...     OK

In [1003]:
target_url1 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[0], g_key)
geo_data = requests.get(target_url1).json()
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

target_url2 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[1], g_key)
geo_data = requests.get(target_url2).json()
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

target_url3 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[5], g_key)
geo_data = requests.get(target_url3).json()
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

target_url4 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[3], g_key)
geo_data = requests.get(target_url4).json()
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

target_url5 = ('https://maps.googleapis.com/maps/api/geocode/json?'
'address={0}&key={1}').format(target_places[4], g_key)
geo_data = requests.get(target_url5).json()
 # Extract latitude and longitude
latlong_dict = geo_data["results"][0]["geometry"]["location"]
name_dict = geo_data["results"][0]["formatted_address"]
name.append(name_dict)
lat.append(latlong_dict["lat"])
lng.append(latlong_dict["lng"])

In [1004]:
lat

[15.179384, 6.611110999999999, 33.93911, 15.454166, 18.971187]

In [1005]:
lng

[39.782334, 20.939444, 67.709953, 18.732207, -72.285215]

In [1006]:
weights = []

n_df = pd.DataFrame({'Cities/Countries':name,'Lat':lat,'Lng':lng})

In [1007]:
n_df.head()

           Cities/Countries        Lat        Lng
0                   Eritrea  15.179384  39.782334
1  Central African Republic   6.611111  20.939444
2               Afghanistan  33.939110  67.709953
3                      Chad  15.454166  18.732207
4                     Haiti  18.971187 -72.285215

In [1008]:
merge_table = pd.merge(n_df,df6, on='Cities/Countries')
merge_table.head()

           Cities/Countries        Lat        Lng   AvgScore
0                   Eritrea  15.179384  39.782334  22.646667
1  Central African Republic   6.611111  20.939444  33.730000
2               Afghanistan  33.939110  67.709953  38.443333
3                      Chad  15.454166  18.732207  38.193333
4                     Haiti  18.971187 -72.285215  38.383333

In [1009]:
locations = merge_table[["Lat","Lng"]]
avgscore = merge_table["AvgScore"].astype(float)
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights=avgscore, dissipating=False, max_intensity=10, point_radius=1)

fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))