In [1]:
import pandas as pd
import numpy as np

In [2]:
region=pd.read_csv('kiva_mpi_region_locations.csv')

In [3]:
region.head()

,LocationName,ISO,country,region,world_region,MPI,geo,lat,lon
0,"Badakhshan, Afghanistan",AFG,Afghanistan,Badakhshan,South Asia,0.387,"(36.7347725, 70.81199529999999)",36.734772,70.811995
1,"Badghis, Afghanistan",AFG,Afghanistan,Badghis,South Asia,0.466,"(35.1671339, 63.7695384)",35.167134,63.769538
2,"Baghlan, Afghanistan",AFG,Afghanistan,Baghlan,South Asia,0.300,"(35.8042947, 69.2877535)",35.804295,69.287754
3,"Balkh, Afghanistan",AFG,Afghanistan,Balkh,South Asia,0.301,"(36.7550603, 66.8975372)",36.755060,66.897537
4,"Bamyan, Afghanistan",AFG,Afghanistan,Bamyan,South Asia,0.325,"(34.8100067, 67.8212104)",34.810007,67.821210

In [4]:
region.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2772 entries, 0 to 2771
Data columns (total 9 columns):
LocationName    984 non-null object
ISO             1008 non-null object
country         1008 non-null object
region          984 non-null object
world_region    1008 non-null object
MPI             984 non-null float64
geo             2772 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 195.0+ KB

In [5]:
region_copy=region.dropna()

In [6]:
region_copy.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 892 entries, 0 to 1007
Data columns (total 9 columns):
LocationName    892 non-null object
ISO             892 non-null object
country         892 non-null object
region          892 non-null object
world_region    892 non-null object
MPI             892 non-null float64
geo             892 non-null object
lat             892 non-null float64
lon             892 non-null float64
dtypes: float64(3), object(6)
memory usage: 69.7+ KB

In [7]:
mpi_region=region_copy.groupby('world_region')['MPI'].mean()
mpi_region

world_region
Arab States                    0.110557
East Asia and the Pacific      0.134476
Europe and Central Asia        0.027700
Latin America and Caribbean    0.065830
South Asia                     0.223114
Sub-Saharan Africa             0.335678
Name: MPI, dtype: float64

In [8]:
mpi_region=pd.DataFrame(mpi_region)

In [9]:
mpi_region.reset_index()

                  world_region       MPI
0                  Arab States  0.110557
1    East Asia and the Pacific  0.134476
2      Europe and Central Asia  0.027700
3  Latin America and Caribbean  0.065830
4                   South Asia  0.223114
5           Sub-Saharan Africa  0.335678

In [10]:
mpi_region.sort_values('MPI').plot.bar()

In [11]:
region_copy['country'].unique()

array(['Afghanistan', 'Burundi', 'Benin', 'Burkina Faso', 'Bangladesh',
       'Belize', 'Bolivia, Plurinational State of', 'Brazil', 'Bhutan',
       'Central African Republic', 'China', "Cote d'Ivoire", 'Cameroon',
       'Congo, Democratic Republic of the', 'Congo, Republic of',
       'Colombia', 'Comoros', 'Djibouti', 'Dominican Republic', 'Ecuador',
       'Egypt', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'Gambia',
       'Guinea-Bissau', 'Guatemala', 'Guyana', 'Honduras', 'Haiti',
       'Indonesia', 'Iraq', 'Jamaica', 'Jordan', 'Kenya', 'Cambodia',
       "Lao People's Democratic Republic", 'Liberia', 'Lesotho', 'Morocco',
       'Madagascar', 'Mali', 'Myanmar', 'Mongolia', 'Mozambique',
       'Mauritania', 'Malawi', 'Namibia', 'Niger', 'Nigeria', 'Nicaragua',
       'Nepal', 'Pakistan', 'Peru', 'Philippines', 'Rwanda', 'Sudan',
       'Senegal', 'Sierra Leone', 'El Salvador', 'South Sudan',
       'Sao Tome and Principe', 'Suriname', 'Swaziland',
       'Syrian Arab Republic', 'Chad', 'Togo', 'Tajikistan', 'Timor-Leste',
       'Trinidad and Tobago', 'Tanzania, United Republic of', 'Uganda',
       'Uzbekistan', 'Viet Nam', 'Yemen', 'Zambia', 'Zimbabwe'], dtype=object)

In [12]:
# Store latitude and longitude in locations
locations = region_copy[["lat", "lon"]]

# Fill NaN values and convert to float
MPI = region_copy["MPI"].astype(float)

In [13]:
import gmaps

# Google developer API key
from config import gkey

# Access maps with unique API key
gmaps.configure(api_key=gkey)

In [15]:
print(gkey)

AIzaSyANINk16w9fV1mjlQylh1J1O8XBtQh2rdU

In [ ]:
# Created a heatmap that shows the poverty level (MPI) round the world

In [31]:
# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=MPI, 
                                 dissipating=False, max_intensity=1,
                                 point_radius=3)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))